files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Set the maximum allowed body size for uploads (adjust as necessary)
      client_max_body_size 10M;

      # Set the timeout settings for proxying requests
      proxy_read_timeout 120;
      proxy_connect_timeout 120;
      proxy_send_timeout 120;

container_commands:
  01_reload_nginx:
    command: "nginx -t && service nginx reload"
    leader_only: true
